.cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

.cursor1 {
    width: 16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 50%;
    left: 0;
    top: 0;
}

.cursor2 {
    width: 24px;
    height: 24px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: 999;
}

@media (hover: none) {

    .cursor1,
    .cursor2 {
        display: none;
    }
}