@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    /* customs */
    --colorPrimary: #ffe600;
    --colorDark: #0e0d0c;
    --colorSecondaryDark: #404040;
    --colorSecondaryHalfDark: #1a1a1a;
    --colorLight: #ffffff;
    --colorSecondaryLight: #bfbfbf;
    --colorSecondaryHalfLight: #f2f2f2;
    --colorWhite: #fff;
    --paddingX: 4vw;
    --paddingY: 100px;
    --maxWidth: 1690px;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --borderLight: 0 0% 75%;

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --transparent-background: 0, 0%, 100%, 0.5;
    --transparent-foreground: 222.2, 84%, 4.9%, 0.5;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  @media only screen and (max-width: 500px) {
    :root {
      --paddingY: 80px;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply lightGradient text-foreground;
    font-family: var(--font-satoshi), sans-serif;
  }
  .darkGradient {
    background: linear-gradient(90deg, #000000 0%, #222121 100%);
  }

  body::-webkit-scrollbar {
    width: 0;
  }

  *::selection {
    color: var(--colorDark);
    background-color: var(--colorPrimary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-syne), sans-serif;
}

@media screen and (min-height: 645px) {
  .testimonialHeader {
    flex-direction: column;
    align-items: flex-start;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--colorLight);
  transition: background-color 5000s ease-in-out 0s;
}

.mask {
  --mask: linear-gradient(
    90deg,
    hsla(0, 0%, 100%) 0%,
    hsla(0, 0%, 100%, 0.7) 100%
  );

  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}

.lightGradient {
  background: linear-gradient(
    90deg,
    var(--colorWhite) 0%,
    var(--colorSecondaryHalfLight) 100%
  );
}

.cursor1 {
  position: fixed;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor2 {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media (hover: none) {
  .cursor1 {
    display: none;
  }

  .cursor2 {
    display: none;
  }
}

.darkGradient {
  background: linear-gradient(90deg, #000000 0%, #222121 100%);
}

.section {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  min-height: 100dvh !important;
  position: relative !important;
  isolation: isolate !important;
}

.scrollable {
  overflow-y: auto;
}

.fp-watermark {
  display: none;
}

.rounded__div__down,
.rounded__div__up {
  height: 0vh;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  z-index: 999;
}

.rounded__div__down {
  top: 0;
}

.rounded__div__up {
  bottom: 0;
}

.round__bg__down {
  height: 775%;
  width: 150%;
  position: absolute;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.round__bg__up {
  height: 775%;
  width: 150%;
  position: absolute;
  /* background-color: var(--colorLight); */
  bottom: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.scrambleText {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

img {
  pointer-events: none;
}
