@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    /* customs */
    --colorPrimary: rgb(253, 60, 0);
    --colorDark: #0e0d0c;
    --colorSecondaryDark: #404040;
    --colorSecondaryHalfDark: #1a1a1a;
    --colorLight: #ffffff;
    --colorSecondaryLight: #bfbfbf;
    --colorSecondaryHalfLight: #f2f2f2;
    --colorWhite: #fff;
    --paddingX: 4vw;
    --paddingY: 100px;
    --maxWidth: 1690px;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --borderLight: 0 0% 75%;

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --transparent-background: 0, 0%, 100%, 0.5;
    --transparent-foreground: 222.2, 84%, 4.9%, 0.5;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  @media only screen and (max-width: 500px) {
    :root {
      --paddingY: 80px;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply lightGradient text-foreground;
    font-family: var(--font-satoshi), sans-serif;
  }

  .darkGradient {
    background: linear-gradient(90deg, #000000 0%, #222121 100%);
  }

  body::-webkit-scrollbar {
    width: 0;
    display: none;
    /* Chrome, Safari */
  }

  *::selection {
    color: var(--colorDark);
    background-color: var(--colorPrimary);
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .col-center {
    @apply flex flex-col justify-center items-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .general-title {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
  }
}

@layer components {
  .paragraph-line {
    @apply text-nowrap overflow-hidden;
  }

  .hero-container {
    @apply relative w-screen h-dvh overflow-hidden;

    .hero-content {
      @apply relative z-10 w-full h-full flex flex-col 2xl:justify-center items-center translate-y-10 2xl:pt-0 md:pt-32 pt-24;

      .hero-title {
        @apply 2xl:text-8xl md:text-6xl text-4xl font-bold uppercase leading-[9vw] tracking-[-.35vw] mb-5;
      }

      .hero-text-scroll {
        @apply rotate-[-4deg] mb-8 border-[2px] border-dashed;

        h1 {
          @apply uppercase 2xl:text-8xl md:text-6xl text-4xl font-bold leading-[9vw] tracking-[-.35vw] 2xl:px-[1.2vw] px-3 2xl:py-0 py-3;
        }
      }

      h2 {
        @apply font-satoshi text-center md:max-w-lg max-w-sm px-5 md:text-lg leading-[115%] mt-3;
      }
    }
  }

  .message-content {
    @apply bg-colorSecondaryHalfDark text-colorLight min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

    .msg-wrapper {
      @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw] flex flex-col justify-center items-center md:gap-24 gap-14;

      h1:first-of-type {
        @apply 2xl:max-w-4xl md:max-w-2xl max-w-xs text-center text-colorLight/10;
      }

      h1:last-of-type {
        @apply 2xl:max-w-7xl md:max-w-4xl max-w-xs text-center text-colorLight/10;
      }
    }

    p {
      @apply text-center font-satoshi;
    }

    h1,
    h2 {
      @apply leading-none;
    }

    .msg-text-scroll {
      @apply rotate-[3deg] 2xl:translate-y-5 -translate-y-5 absolute z-10 border-[.5vw] border-colorSecondaryHalfDark;
    }
  }

  .flavor-section {
    @apply min-h-dvh bg-colorLight;

    .flavor-text-scroll {
      @apply rotate-[-3deg] md:translate-y-5 border-[.5vw] border-colorLight absolute z-10;
    }

    .first-text-split h1 {
      @apply md:text-center text-colorDark;
    }

    .second-text-split h1 {
      @apply md:text-center;
    }

    .slider-wrapper {
      @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

      .flavors {
        @apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

        .drinks {
          @apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80;
        }

        .elements {
          @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
        }

        h1 {
          @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-colorLight md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
        }
      }
    }
  }

  .nutrition-section {
    @apply min-h-dvh 2xl:h-[120dvh] overflow-hidden relative;

    .big-img {
      @apply w-full absolute 2xl:h-full md:h-2/3 h-1/2 left-0 bottom-0 object-bottom 2xl:object-contain object-cover;
    }

    .nutrition-title {
      @apply 2xl:max-w-4xl xl:max-w-2xl md:py-0 py-3 md:pb-5 pb-0 lg:pb-0 md:text-center text-colorDark;
    }

    .nutrition-text-scroll {
      @apply rotate-[-3deg] border-[.5vw] border-colorSecondaryHalfLight text-nowrap opacity-0 md:-mt-32 -mt-24;
    }

    .nutrition-box {
      @apply absolute md:bottom-16 bottom-5 w-full md:px-0 px-5;

      .list-wrapper {
        @apply bg-colorSecondaryHalfLight rounded-full border-[.5vw] border-colorSecondaryLight mx-auto max-w-7xl md:py-8 py-5 md:px-0 px-5 flex justify-between items-center;

        p {
          @apply text-colorSecondaryDark;
        }
      }

      .spacer-border {
        @apply absolute right-0 top-1/2 transform -translate-y-1/2 md:h-24 h-16 w-px bg-colorSecondaryLight;
      }
    }
  }

  .benefit-section {
    @apply min-h-dvh bg-colorDark overflow-hidden relative;

    p {
      @apply text-colorLight font-satoshi text-center text-lg;
    }

    .first-title {
      @apply rotate-[3deg] relative z-10;
    }

    .second-title {
      @apply rotate-[-1deg] md:-translate-y-5;
    }

    .third-title {
      @apply rotate-[1deg] md:-translate-y-12 relative z-10;
    }

    .fourth-title {
      @apply rotate-[-5deg] md:-translate-y-12;
    }

    .vd-pin-section {
      @apply md:h-[110vh] h-dvh overflow-hidden md: !-translate-y-[15%] md:mt-0 mt-20;

      video {
        @apply size-full absolute inset-0 object-cover;
      }

      .play-btn {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-[9vw] flex justify-center items-center bg-colorLight/10 backdrop-blur-xl rounded-full;
      }

      img:first-of-type {
        @apply size-[15vw];
      }
    }
  }

  .testimonials-section {
    @apply bg-colorLight relative w-full h-[120dvh];

    .pin-box {
      @apply flex items-center justify-center w-full ps-52 absolute 2xl:bottom-32 bottom-[50vh];

      .vd-card {
        @apply md:w-96 w-80 flex-none md:rounded-[2vw] rounded-3xl -ms-44 overflow-hidden 2xl:relative absolute border-[.5vw] border-colorLight;
      }
    }

    h1 {
      @apply uppercase text-[20.5vw] leading-[105%] tracking-[-.4vw] ml-[2vw] font-bold;
    }
  }

  .footer-section {
    @apply 2xl:min-h-dvh overflow-hidden relative bg-colorDark;

    .social-btn {
      @apply border border-colorLight/20 md:size-[5vw] size-14 md:p-0 p-3 flex justify-center items-center rounded-full hover:bg-colorLight/10 transition-colors cursor-pointer;
    }

    input {
      @apply 2xl:text-4xl text-3xl placeholder:font-bold placeholder:tracking-tighter;
    }

    .copyright-box {
      @apply 2xl:absolute w-full md:px-10 px-5 py-7 bottom-0 text-colorLight opacity-50 md:text-lg font-satoshi flex gap-7 md:flex-row flex-col-reverse md:justify-between justify-center items-center;

      p {
        @apply text-center;
      }
    }
  }
}


.nutrition-section {
  background-color: #faeade00;
  background-image: radial-gradient(circle, #f3ece2, #dcccb0);
}

.spin-circle {
  animation: spin 20s linear infinite;
}

.lightGradient {
  background: linear-gradient(90deg,
      var(--colorWhite) 0%,
      var(--colorSecondaryHalfLight) 100%);
}

.darkGradient {
  background: linear-gradient(90deg, #000000 0%, #222121 100%);
}