.nav__container {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100%;
  --header-color: #ffffff;
}

.nav__container .nav__bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container .nav__bar>div {
  width: 100%;
  padding-top: 30px;
  font-size: 1.8rem;
  display: flex;
  gap: 5.2rem;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .nav__container .nav__bar>div {
    padding-top: 25px;
  }
}

.nav__container .nav__item,
.nav__container [class*="bg-[--header-color]"] {
  transition: color 0.4s ease, background-color 0.4s ease;
}