.nav__container {
    position: absolute;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    /* overflow: hidden; */
    /* display: none; */
}

.nav__container .nav__bar {
    width: 100%;
}

.nav__container .nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav__container .nav__bar>div {
    width: 100%;
    padding-top: 40px;
    font-size: 1.8rem;
}

.nav__container .nav__bar>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5.2rem;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .nav__container .nav__bar>div {
        padding-top: 25px;
    }
}