:root {
  --primary-color: rgb(253, 60, 0);
  --padding: clamp(20px, 7.8vw + 10px, 150px);
  --padding2: 0vw;
  --fontExtraSmallest: 10px;
  --fontExtraSmall: 18px;
  --fontSmall: 40px;
  --fontBig: 66px;
  --fontExtraBig: clamp(182px, 12vw, 220px);
}

@media only screen and (max-width: 768px) {
  :root {
    --fontExtraSmall: 16px;
    --fontSmall: 4.5vw;
    --fontBig: 8.5vw;
    --fontExtraBig: 23vw;
    --padding2: 5vw;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --fontExtraSmall: 16px;
    --fontSmall: 7vw;
    --fontBig: 8.4vw;
    --fontExtraBig: 20vw;
    --padding2: 5vw;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-satoshi), sans-serif;
  font-weight: 450;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.yellow__it {
  color: var(--primary-color);
}

.section1__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* magnet */

.magnetic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  will-change: transform;
}

.shapka {
  display: inline-block;
  will-change: transform;
}

/* limit */

.rollingText {
  white-space: nowrap;
  font-weight: bold;
  font-size: var(--fontExtraBig);
  display: inline-block;
  /* padding-left: 10px; */
}

/* ad/ */
.section__1 .left {
  font-size: var(--fontSmall);
  position: absolute;
  left: 0;
  bottom: 50%;
}

.section__1 .left .free {
  white-space: nowrap;
}

.section__1 .left .animation__wrapper {
  overflow: hidden;
  position: relative;
}

.section__1 .left .animate__this {
  display: inline-block;
  position: absolute;
  /* margin-left: 20px; */
  /* left: 50%; */
  transform: translate(0%, 200%) scale(1, 1);
  transform-origin: 50% 100%;
  white-space: nowrap;
  opacity: 0;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); */
}

.section__1 .left:before {
  display: block;
  content: '';
  background-image: url(/svg/arrow2.svg);
  background-size: cover;
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  transform: translate(0px, -2em);
}

.email_section1 {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.email_section1 .round {
  position: relative;
  /* transform: translateX(-50%); */
  width: 130px;
  height: 130px;

  border-radius: 50%;
}

.email_section1 .round img {
  width: 65%;
  background-color: var(--colorDark);
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .section__1 .left {
    /* letter-spacing: -1.68px; */
    /* line-height: 1.2em; */
    /* text-align: center; */
    /* margin-bottom: 21px; */
    position: absolute;
    left: 0px;
    bottom: 30px;
    /* top: 34.6%; */
  }

  .email_section1 .sqaure {
    display: none;
  }

  .email_section1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: auto;
  }

  .email_section1 .round {
    transform: translateX(0%);
    background-color: transparent;
    width: 105px;
  }

  .email_section1 .round img {
    background-color: transparent;
  }
}

/* section__4 */

.section__4 .footer__left {
  color: var(--colorDark);
  font-size: var(--fontExtraSmallest);
}

.section__4 .footer__heading {
  font-size: var(--fontSmall);
  white-space: nowrap;
  font-weight: bold;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1em;
  text-align: center;
  line-height: 1em;
  position: absolute;
  color: var(--colorLight);
  background: hsl(0deg 0% 100% / 5%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
}

.section__4 .footer__img_wrapper {
  position: relative;
  /* bottom: 0; */
  z-index: -1;
}

.section__4 .footer__links {
  min-height: 52.2px;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#my-text .line,
#my-text2 .line {
  overflow: hidden;
}

.section__2_right {
  width: 40%;
  font-size: var(--fontExtraSmall);
  color: var(--colorDark);
  position: relative;
}

.section__2 .footer__heading {
  /* font-size: var(--fontSmall); */
  white-space: nowrap;
  font-weight: 600;
  color: var(--colorLight);
  background-color: var(--colorDark);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5em;
  line-height: 1em;
  position: relative;
  margin-top: 40px;
}

.me {
  font-weight: 450;
  font-size: var(--fontExtraSmall);
  line-height: 1.065;
  margin-bottom: 1em;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  opacity: 0.5;
  max-width: 1250px;
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-block: 50px;
  margin-inline: auto;
  width: 100%;
  /* position: absolute; */
}

@media only screen and (max-width: 768px) {
  .section__2 .container {
    flex-direction: column;
    padding: 0;
  }

  .rounded__div {
    height: 10vh;
  }
}

.slider-inner {
  /* width: max-content; */
  position: absolute;
  height: 100%;
  /* min-width: auto; */
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;

  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
  align-items: center;
}

#one {
  position: relative;
  /* height: 27vh; */
  flex-grow: 1;
  max-height: 22vh;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  /* border-top: 1px solid rgba(0, 0, 0, 0.106); */
  padding-block: 15px;
  /* max-width: 1620px; */
}

.slider_wip {
  width: 100%;
  /* max-width: 1250px; */
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  display: flex;
}

/* .slider-inner:last-child {
  left: 100%;
} */

.bi-linkedin {
  width: 2em;
  fill: var(--colorLight);
}

/* .section {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  position: relative;
} */

.slider .g-7 {
  padding: 1vw;
}
.g-7 {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  /* margin-inline: 100px; */
  justify-content: center;
  align-items: center;

  /* border-left: 1px dashed rgba(0, 0, 0, 0.106); */
}
.img-wrapper {
  display: flex;
  flex-direction: column;
  /* border-radius: 8px; */
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  /* border-left: 1px dashed var(--colorSecondaryDark); */
  /* opacity: 0.7;
  filter: invert(0.9); */
  /* margin-inline: 20px; */
  /* aspect-ratio: 1/1; */
}
.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: #fff; */
}

.disabled {
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: var(--colorLight);
  /* transition: 400ms all linear; */
}

@media only screen and (max-width: 768px) {
  .slider_wip {
    width: auto;
  }

  #one {
    width: 100%;
    flex-grow: 1;
    max-height: 20vh;
    /* height: 27vh; */
  }
}

@media only screen and (max-width: 425px) {
}
